extends layout

block content
  h1= title
  p Welcome to the #{title}

  form(method='POST' action='/new')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name' name='name' required='true')
    div.form-group
      label(for='message') Message:
      textarea#message.form-control(type='text', placeholder='Message' name='message' required='true')
    button.btn.btn-primary(type='submit') Submit



